@model INSTITUTO_C.Models.Inscripcion

@{
    ViewData["Title"] = "Delete";
}


<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Inscripcion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MateriaCursada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MateriaCursada.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Apellido)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" class="form-group pt-3 d-flex justify-content-between align-content-center">
        <a asp-action="Index" class="btn btn-primary">Volver</a>
        <input type="hidden" asp-for="MateriaCursadaId" />
        <input type="hidden" asp-for="AlumnoId" />
        <input type="submit" value="Eliminar" class="btn btn-delete" />
    </form>
</div>
