@model INSTITUTO_C.Models.Inscripcion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inscripcion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="AlumnoId" />
            <input type="hidden" asp-for="MateriaCursadaId" />

            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label">Alumno</label>
                <select asp-for="AlumnoId" class="form-control" asp-items="ViewBag.AlumnoId"></select>
            </div>

            <div class="form-group">
                <label asp-for="MateriaCursadaId" class="control-label">Materia</label>
                <select asp-for="MateriaCursadaId" class="form-control" asp-items="ViewBag.MateriaCursadaId"></select>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
