@{
    ViewData["Title"] = "Instituto";
}
@if(ViewBag.Mensaje != null)
{
    <div>
        <p class="text-info">@ViewBag.Mensaje</p>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Instituto</h1>
    <p>Esperamos que sobrevivas a la experiencia.</a>.</p>
</div>
