@model INSTITUTO_C.Models.Calificacion

@{
    ViewData["Title"] = "Edit";
}

<div class="row main-flex-center">
    <div class="col-md-6">
        <h4>Editar Calificación</h4>
        <hr />
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Hidden inputs para la clave compuesta -->
            <input type="hidden" asp-for="AlumnoId" />
            <input type="hidden" asp-for="MateriaCursadaId" />

           <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <select asp-for="Nota" class="form-control" asp-items="@Html.GetEnumSelectList<Nota>()"></select>
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
 @*            <div class="form-group">
                <label asp-for="ProfesorId" class="control-label"></label>
                <select asp-for="ProfesorId" class="form-control" asp-items="ViewBag.ProfesorId">
                    <option value="">Seleccione un profesor</option>
                </select>
                <span asp-validation-for="ProfesorId" class="text-danger"></span>
            </div> *@

            <div class="form-group pt-3 d-flex justify-content-between align-content-center">
                <a class="btn btn-primary" asp-action="Index">Volver</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}