@model INSTITUTO_C.Models.Carrera

@{
    ViewData["Title"] = "Delete";
}

<div class="row main-flex-center">

    <div class="col-md-6">
        <h4>¿Estas seguro de eliminar la Carrera?</h4>
        <hr />
        <dl class="row main-flex-center">
            <dt class = "col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="form-group pt-3 d-flex justify-content-between align-content-center">
            <a asp-action="Index" class="btn btn-primary">Volver</a>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-delete" />
        </form>
    </div>
</div>

